.App {
  text-align: center;
  background-color: #303336;
}

#App {
  text-align: center;
  background-color: #303336;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #303336;;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  display:inline-flex;
  /* align-items items in column */
  flex-direction: column;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
}

#update{
  color:#303336;;
  background-color: #303336;
}

#Logo{
  height: 100px;
  width: auto;
}

#Logoheader{
  height: 100px;
  width: auto;
}

#Logo2{
  height: 60px;
  width: auto;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}


#Logo3{
  height: 115px;
  width: auto;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#quote{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-bottom: none;
}


/*Each project within the div*/
#card{
  margin : 45px auto;
  align-items: center;
  display: block;
  width: 100%;

  border-radius:8px;
}

#title{
  margin:20px;
}

#eventItems{
  align-items: center;
}

/*Each Project*/
.theCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #000000;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 4px 16px 0 rgba(0, 0, 0, 0.308);
  width: 65%;
}

/*The colour of the card*/
.cardbox{
  background-color: #303336;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border-style: solid;
  border-width: 12px;
  padding: 50px;
  width: 100%;
  height: auto;
}

/*The general button styling*/
.click{
  background-color: #303336;
  border-radius: 3px;
  margin: 5px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0.5rem ;
}

#Home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/*The delete button*/
#buttonhome{
  background-color: #303336;
  color: rgb(0, 0, 0);
  margin: 30px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  top: 1.5vh;
  display: block;
  text-decoration: none;
}

#buttonlogout{
  background-color: #070707;
  color: #4a4c4e;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  top: 1.5vh;
  display: block;
  text-decoration: none;
}

/*The delete button*/
.click1{
  background-color: #303336;;
  border-radius: 3px;
  margin: 5px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 0.5rem ;
  padding: 4px;
  height: 4.3vh;
  position: relative;
  top: -0.5vh;
}

.ibox{
  margin: 3px;
}

form{
  display:inline-flex;
}

.cardd{
  border-radius: 3px;
  border: none;
  background-color: #303336;;
}

/*The image styling(The logo)*/
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: auto;
}


footer{
  width: 100%;
  height: 200px;
}

h5{
  margin: auto;
}

#image{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  height: 70px;
  width: auto;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  
}

p{
  color: rgb(0, 0, 0);
}

input{
  border-color: rgb(0, 0, 0);
  background: rgb(25, 25, 25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  border-radius: 6px;
  height: 40px;
  color: rgb(180, 180, 180);
  position:relative;
  top: 15%;
  transform: translate(-50);
}

label{
  vertical-align: middle;
}

input[type="text"], textarea {

  background-color : rgb(25, 25, 25);

}

#input{
  border-color: rgb(0, 0, 0);
  background: rgb(25, 25, 25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  border-radius: 6px;
  height: 40px;
  color: rgb(175, 175, 175);
  padding: 4px;
  width: 400px;
}

/*The colour of the card*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a3a3a3;;
  opacity: 1; /* Firefox */
}


label {
  margin: 5px;
  flex-flow: row;
  vertical-align: middle;
}


/*The delete button*/
#button{
  background-color: #303336;
  color: rgb(0, 0, 0);
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  position:relative;
  top: 0.5vh;
}

#buttonsign{
  background-color: #070707;
  color: #4a4c4e;
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  position:relative;
  top: 0vh;
}

#buttondel{
  background-color: rgb(19, 1, 1);
  color: rgb(70, 70, 70);
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  position:relative;
  top: 1.4vh;
}

#understandingBrale{
  margin: 20px;
}

#buttonupdate{
  background-color: #021607;
  color: rgb(70, 70, 70);
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  position:relative;
  top: 0.4vh;
}

.buttonRadius{
  border-radius: 4px;
  background-color: rgb(25, 25, 25);
}

/*The delete button*/
#button1{
  background-color: #303336;;
  color: rgb(173, 173, 173);
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  position: relative;
  top: -1.5vh;
  height: 30px;
}

#buttonadd{
  background-color: #091118;
  color: rgb(70, 70, 70);
  margin: 10px;
  padding-right: 4px;
  padding-left: 4px;
  border: none;
  height: 38px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
  width: 100px;
  position:relative;
  top: 0.3vh;
}

.buttonRadius1{
  border-radius: 3px;
}

.todo{
  display: inline-flex;
  margin: 15px;
}

.ibox{
  margin: 3px;
}

.cardd{
  border-radius: 8px;
  border: none;
  background-color: #303336;;
}

/*The image styling(The logo)*/
img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 500px;
  height: auto;
}

#footer{
  min-height: 60vh;
  background-color:#303336;
}

h5{
  margin: auto;
  color: rgb(0, 0, 0);
}  

h6{
  margin: auto;
  margin-bottom: none;
  color: rgb(0, 0, 0);
}

#image{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  height: 70px;
  width: auto;
}

.header{
  background-color: #303336;
}

h3{
  color: rgb(0, 0, 0);
  margin-top: none;
}

h4{
  color: #000000;
}

.editBorder {
  border-top: black solid 2px !important;
  border-bottom: black solid 2px !important;
}

.editSelect {
  background-color: rgb(26, 26, 26) !important;
  color: rgb(182, 182, 182) !important;
  border-color: black !important;
  border-width: 2px !important;
  position: relative;
  top: 0.4vh;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.384), 0 1px 2px 0 rgba(0, 0, 0, 0.308);
}

/*:)*/